Data/
/DeepLearningShipDetection/__pycache__
/DeepLearningShipDetection/.ipynb_checkpoints
Training_Data/
Testing_Data/
Test_Data/
__pycache__
.ipynb_checkpoints
DeepLearningShipDetection/small_images

